@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Inspired by user-provided "Gray tones for light mode" */
  --color-text: #464c56; /* All Text / Active Icons */
  --color-text-muted: #b9bcc0; /* Subtle Text / Component Borders */
  --color-bg: #ffffff; /* Page background */
  --color-bg-accent: #f7f7f8; /* Soft Background (for components) */
  --color-border: #b9bcc0; /* Component Borders */
  --color-btn-primary: #8b5cf6; /* violet-500 */
  --color-btn-primary-text: #ffffff; /* white */
  --gradient-color: hsla(0, 0%, 0%, 0.03);
}

.dark {
  /* Inspired by user-provided "Gray tones for dark mode" */
  --color-text: #d4d7db; /* All Text / Active Icons */
  --color-text-muted: #6e757d; /* Subtle Text / Component Borders */
  --color-bg: #2c3138; /* Soft Background */
  --color-bg-accent: #4a5058; /* Soft Borders / Disabled (for components) */
  --color-border: #6e757d; /* Component Borders */
  --color-btn-primary: #8b5cf6; /* violet-500 */
  --color-btn-primary-text: #ffffff; /* white */
  --gradient-color: hsla(0, 0%, 100%, 0.05);
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-skin-bg text-skin-text;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: var(--color-bg);
  background-image: radial-gradient(circle at 10% 10%, var(--gradient-color) 0px, transparent 50%),
    radial-gradient(circle at 90% 80%, var(--gradient-color) 0px, transparent 50%);
}

